paper-material {
    border-radius: 2px;
    height: 100%;
    padding: 16px 0 16px 0;
    width: calc(98.66% - 16px);
    margin: 16px auto;
    background: white;
}
@media (max-width: 600px) {
    paper-material {
        --menu-container-display: none;
        width: calc(97.33% - 32px);
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media (min-width: 601px) {
    paper-material {
        width: calc(98% - 46px);
        margin-bottom: 32px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
