{
  "presets": ["react"],
  "plugins": [
      "transform-class-properties",
      "transform-async-to-generator",
      "transform-decorators-legacy",
      "transform-es2015-modules-commonjs",
      "transform-es2015-unicode-regex",
      "transform-es2015-function-name",
      "transform-es2015-classes",
      "transform-exponentiation-operator",
      "transform-object-rest-spread",
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": [
        ["webpack-loaders", { "config": "webpack.config.node.js", "verbose": false }]
      ]
    }
  }
}
