{
  "presets": ["react", ["env", {
    "targets": {
      "chrome": 63,
      "firefox": 57,
      "safari": 11,
      "edge": 41,
    },
    "modules": false,
    "debug": false,
  }]],
  "plugins": [
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "lodash",
    "syntax-dynamic-import"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"],
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes",
      ]
    },
    "production": {
      "plugins": [
        "transform-class-properties",
      ]
    }
  }
}
