.paper {
  padding: 10px;
  font-size: 0.8em;
  font-family: "Fira Mono", monospace !important;
  white-space: nowrap;
  overflow-x: auto;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.table {
  border-collapse: collapse;
  th {
    text-align: left;
  }
  td::first-letter {
    font-weight: bold;
  }
  tr:hover {
    font-weight: bold;
  }
}

.boxNumber {
  font-family: sans-serif;
  color: #999;
  margin-bottom: 0;
}

.boxNumber + .paper {
  margin-top: 5px;
}

.hide {
  display: inline-block;
  width: 0;
  overflow: hidden;
}
