.paper {
  margin: 20px;
  padding: 10px 20px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.flexStretch {
  align-items: stretch;
}

.flexFill {
  flex-grow: 1;
}

.fileType {
  width: 9em;
  padding-left: 1em;
}

.fileTypeType {
  font-weight: bold;
}

.buttonWrapper {
  padding-left: 10px;
}

.dialog {
  text-align: center;
}

.iconContainer svg {
  height: 48px !important;
  width: 48px !important;
}

.flexFromRight {
  display: flex;
  flex-direction: row-reverse;
}

.center {
  text-align: center;
}

.spinnerContainer {
  padding-top: 15px;
}

.folder {
  font-family: monospace;
}
