.flexHorizontal {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.padRight {
  padding-right: 10px;
}

.button {
  white-space: nowrap;
}

.selector {
  visibility: hidden;
  height: 0;
  width: 0;
}