.paper {
  margin: 20px;
  padding: 10px 20px;
}

.formatPluginName {
  font-size: 0.7em !important;
}

.topRow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.flexFill {
  flex-grow: 1;
}
