.input {
  font-family: monospace !important;
  letter-spacing: -1px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.errorText {
  font-family: Roboto, sans-serif !important;
  letter-spacing: normal;
}
