.paper {
  font-size: 0.8em;
  font-family: "Fira Mono", monospace !important;
  white-space: nowrap;
  overflow-x: auto;
  padding: 10px 0 10px 10px;
}

.box {
  display: inline-block;
  padding-right: 10px;
}
