.paper {
  padding: 10px 0 10px 10px;
  font-size: 0.8em;
  font-family: 'Fira Mono', monospace !important;
  white-space: nowrap;
  overflow-x: auto;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.boldIV {
  font-weight: bold;
}

.boxNumber {
  font-family: sans-serif;
  color: #999;
  margin-bottom: 0;
}

.boxNumber + .paper {
  margin-top: 5px;
}

.hide {
  display: inline-block;
  width: 0;
  overflow: hidden;
}

.table {
  display: inline-table;
  margin: 10px 10px 10px 0;
  border: 1px solid #ccc;
  border-width: 1px 0 1px 1px;
  line-height: 1.4;
  border-collapse: collapse;
  font-family: Roboto, sans-serif;

  & * {
    border: 0;
  }

  & th {
    text-align: center;
  }

  & thead {
    border-bottom: 1px solid #ccc;
    background-color: #f3f3f3;
  }

  & tr.odd {
    background-color: #fff;
  }

  & tr.even {
    background-color: #ddd;
  }

  & td,
  & th {
    padding: 4px 8px;
    border-right: 1px solid #ccc;
  }
}

.colorBlue {
  border-color: #1d6abf;

  & th,
  & td {
    border-right-color: #1d6abf;
  }

  & thead,
  & tr.even {
    background-color: #c7daee;
  }
}

.colorGreen {
  border-color: #1c9c20;

  & th,
  & td {
    border-right-color: #1c9c20;
  }

  & thead,
  & tr.even {
    background-color: #c6e6c7;
  }
}

.colorYellow {
  border-color: #bc9128;

  & th,
  & td {
    border-right-color: #bc9128;
  }

  & thead,
  & tr.even {
    background-color: #eee3c9;
  }
}

.colorRed {
  border-color: #eb0032;

  & th,
  & td {
    border-right-color: #eb0032;
  }

  & thead,
  & tr.even {
    background-color: #f9bfcc;
  }
}
