.paper {
  margin: 20px;
  padding: 10px 20px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.flexStretch {
  align-items: stretch;
}

.flexFill {
  flex-grow: 1;
}

.fileType {
  width: 9em;
  padding-left: 1em;
}

.fileTypeType {
  font-weight: bold;
}

.buttonWrapper {
  padding-left: 10px;
  align-items: center;
}

.dialog {
  text-align: center;
}

.iconContainer svg {
  height: 48px !important;
  width: 48px !important;
}

.flexFromRight {
  display: flex;
  flex-direction: row-reverse;
}

.center {
  text-align: center;
}

.spinnerContainer {
  padding-top: 15px;
}

.folder {
  font-family: monospace;
}

.centerOnView {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 1400;
  display: flex;
  opacity: 1;
  will-change: opacity;
  transition: opacity ease-out 1s;
}

.progressWrapper {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: rgba(200, 200, 200, 0.4);
  display: flex;
  transition: all 600ms cubic-bezier(0.35, 0.99, 0.37, 1.3);

  &:hover {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }

  & > div {
    display: block !important;
    margin: auto !important;
  }
}

.hideCenter {
  opacity: 0;
  pointer-events: none;
}
