.paper {
  font-size: 0.8em;
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  &:not(:first-child) {
    margin-top: 20px;
  }

  &:hover {
    margin-left: 20px;
  }
}

.ghost {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-blend-mode: luminosity;
    transition: background-color 0.5s ease;
  }
  &:not(:hover)::before {
    background-color: rgba(100, 100, 100, 0.5);
  }
}

.sprite {
  padding: 10px;
  img {
    display: block;
    height: 80px;
    width: 80px;
  }
}

.infoSide {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: space-between;
}

.nameLine {
  padding: 5px 5px 5px 20px;
  display: flex;
  flex-grow: 1;

  /*&>:not(.langTag) {
    font-family: monospace;
    font-size: 1.4em;
    font-weight: bolder;
  }*/
}

.box {
  margin: 5px 0;
}

.boxName {
  font-weight: bold;
}

.dexNo {
  font-family: monospace;
  font-size: 1.2em;
  font-weight: bold;
}

.dexHash {
  font-size: 0.8em;
}

.genderFemale {
  color: #e546b9;

  &::after {
    content: "(♀)";
    padding-left: 0.6em;
  }
}

.genderMale {
  color: #549dc7;

  &::after {
    content: "(♂)";
    padding-left: 0.6em;
  }
}

.nameColumn {
  display: table;
  margin-left: 30px;
  border-collapse: separate;
  border-spacing: 5px;

  & > div {
    display: table-row;

    & > div {
      display: table-cell;
      &:first-child {
        font-weight: bold;
        &::after {
          content: ":";
        }
      }
    }
  }
}

.langTag {
  font-size: 0.8em;
  align-self: flex-start;
}

.ivLine {
  display: flex;
  flex-direction: row;
}

.ivBox, .esvBox {
  align-items: stretch;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  width: 80px;
  justify-content: center;
}

.ivValue, .esvValue {
  display: box;
  font-size: 1.7em;
  align-self: flex-end;
  width: 1.3em;
  text-align: center;
}

.ivName, .esvName {
  display: box;
  text-transform: uppercase;
  align-self: flex-start;
  font-size: 0.8em;
  padding-top: 3px;
  letter-spacing: -1px;
}

.ivGood {
  color: green;
  background-color: lighten(green, 60%);
}

.ivBad {
  color: red;
  background-color: lighten(red, 40%);
}

.esvValue {
  width: 2.6em;
  text-align: right;
}

.flexFiller {
  flex-grow: 1;
}
