.paper {
  font-size: 0.8em;
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.sprite {
  img {
    display: block;
    height: 60px;
    width: 80px;
  }
}

.infoSide {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: space-between;
}

.nameLine {
  padding: 5px 5px 5px 20px;
  display: flex;
  flex-grow: 1;

  :not(.langTag) {
    font-family: monospace;
    //font-size: 1.2em;
    font-weight: bolder;
  }
}

.box {
}

.dexNo {
}

.dexHash {
  font-size: 0.8em;
}

.genderFemale {
  color: #e546b9;
}

.genderMale {
  color: #549dc7;
}

.nature, .ability{
  padding-left: 30px;
}

.langTag {
  font-size: 0.8em;
  align-self: flex-start;
}

.ivLine {
  display: flex;
  flex-direction: row;
}

.ivBox, .esvBox {
  align-items: stretch;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  width: 80px;
  justify-content: center;
}

.ivValue, .esvValue {
  display: box;
  font-size: 1.7em;
  align-self: flex-end;
  width: 1.3em;
  text-align: center;
}

.ivName, .esvName {
  display: box;
  text-transform: uppercase;
  align-self: flex-start;
  font-size: 0.8em;
  padding-top: 3px;
  letter-spacing: -1px;
}

.ivGood {
  color: green;
  background-color: lighten(green, 60%);
}

.ivBad {
  color: red;
  background-color: lighten(red, 40%);
}

.esvValue {
  width: 2.6em;
  text-align: right;
}

.flexFiller {
  flex-grow: 1;
}
